# Nom du workflow
name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.PASSWORD_SECRET }}
          MYSQL_DATABASE: testBDD

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"

      - name: Install dependencies
        run: |
          cp .env.test .env
          composer install --prefer-dist --no-progress --no-suggest

      - name: Set up environment variables
        run: |
          echo "APP_ENV=test" >> .env
          echo "APP_SECRET=d312c95a7b0d69c2fc5fba65c71065c9" >> .env
          echo "DATABASE_URL=mysql://root:${{ secrets.PASSWORD_SECRET }}@127.0.0.1:3306/testBDD?serverVersion=5.7&charset=utf8mb4" >> .env
          echo "KERNEL_CLASS='App\\Kernel'" >> .env
          echo "SYMFONY_DEPRECATIONS_HELPER=999999" >> .env
          echo "PANTHER_APP_ENV=panther" >> .env
          echo "PANTHER_ERROR_SCREENSHOT_DIR=./var/error-screenshots" >> .env
          echo "MESSENGER_TRANSPORT_DSN=doctrine://default" >> .env

      # - name: Wait for MySQL to be ready
      #   run: |
      #     until mysqladmin ping -h 127.0.0.1 --silent; do
      #       echo "Waiting for database connection..."
      #       sleep 2
      #     done

      - name: Prepare test database
        run: php bin/console doctrine:database:create --env=test

      - name: Prepare test database
        run: php bin/console doctrine:migrations:migrate --env=test

      - name: Load fixtures
        run: php bin/console doctrine:fixtures:load --env=test --no-interaction

      # - name: Run tests
      #   run: php bin/phpunit

      - name: Run PHPUnit tests and generate coverage report
        run: |
          mkdir -p build/logs
          php bin/phpunit --coverage-clover build/logs/clover.xml

      - name: Upload PHPUnit coverage report
        uses: actions/upload-artifact@v2
        with:
          name: phpunit-coverage-report
          path: build/logs/clover.xml

      # - name: Upload PHPUnit coverage report to Codecov
      #   uses: codecov/codecov-action@v3
      #   with:
      #     files: build/logs/clover.xml
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     flags: unittests
      #     name: codecov-coverage

      - name: Run Behat/Mink tests
        run: |
          php vendor/bin/behat
